*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #039be738;
  background-image: url('../images/restaurant.jpg');
  background-size: cover;
  background-position: center center;
  font-family: 'New Tegomin', serif;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  text-shadow: 2px 1px 5px #291616;
  color: white;
  background-color: #847c49ba;
}

.tab {
  display: inline-block;
  padding: 10px;
  border-bottom: 3px solid transparent;
  
  &:hover {
    cursor: pointer;
    color: #fd525291;
    border-bottom: 3px solid #fd525291;
  }
}

.tab-active {
  color: #ffe599;
  border-bottom: 3px solid #ffe599;
}

.homepage-container {
  width: fit-content;
  padding: 20px;
  border-radius: 14px;
  margin: 50px auto;
  background-image: linear-gradient(181deg, #c38753c9, #1d100696);
}

h1 {
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
  border-radius: 18px;
  font-size: 72px;
  text-align: center;
  color: #33260e
}

h4 {
  margin: 40px auto;
  padding: 20px;
  width: fit-content;
  border-radius: 18px;
  color: white;
  font-size: 24px;
  line-height: 1.5;
}

.section-container {
  width: 70%;
  margin: 50px auto;
  padding: 14px;
  border-radius: 14px;
  color: white;
  background-color: #79543ae6;

  h3 {
    margin: 0;
    font-size: 22px;
  }
}